:root {
  --primary-color: #232634;
  --secondary-color: #303446;
  --tertiary-color: #737994;
}

body {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: monospace;
  font-weight: 800;
  font-size: 28px;
}

.content {
  margin-top: 30px;
  background: var(--secondary-color);
  width: 30%;
  padding: 20px 0;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #00000025;
}

#color-display {
  font-family: monospace;
  font-style: italic;
  text-align: center;
  font-size: 58px;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
}

#options {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.color-option {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 0px 20px #0000005b;
}

#result {
  font-family: monospace;
  text-align: center;
  font-size: 30px;
  opacity: 0;
}

#reset-button {
  display: none;
  margin: auto;
  border: none;
  padding: 20px 50px;
  font-family: monospace;
  font-size: 20px;
  font-weight: 800;
  color: var(--secondary-color);
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 20px #0000005b;
  transition: all .2s ease-in-out;
}

#reset-button:hover {
    transform: scale(1.02);
}

.credits {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  font-family: monospace;
}

.credits a {
  color: var(--tertiary-color);
  font-size: 20px;
  margin: 5px;
  transition: all .2s ease-in-out;
}

.credits a:hover {
    color: #9a9fb5;
}

@media screen and (max-width: 450px) {
    .content {
        margin-top: 80px;
        width: 80%;
    }
    .color-option {
        width: 80px;
        height: 80px;
    }
    h1 {
        font-size: 40px;
    }
}
